.container {
    .schedulePage-doctor-content {

        .select-datetime {
            .select-doctor {
                .text {
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            .datetime-doctor {
                .date-picker {
                    width: 100% !important;
                }

                .text {
                    font-size: 16px;
                    font-weight: 500;
                }
            }

        }

        .schedule-doctor-choose {
            display: flex;
            align-items: center;
            justify-content: left;
            gap: 15px;
            margin-top: 20px;
            padding: 0 10px;


            .btn-schedule {
                border-radius: 3px;
                border: 1px solid #06b8f3;
                padding: 5px 10px;
                width: max-content;
                cursor: pointer;
            }

            .active {
                background-color: #06b8f3;
                color: white;
            }

            .btn-schedule-save {
                margin-top: 10px;
                border-radius: 3px;
                background-color: orange;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 10px;
                width: max-content;
                cursor: pointer;
            }
        }




    }
}