.confirm-booking-message {
    min-height: calc(93vh - (78px + 78px));
    color: greenyellow;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 60px;
}